/* ==========================================================================
  Customized Neon skin @shifty0g
   ========================================================================== */

/* Colors */
$background-color: #2B2B2B !default;
$text-color: #FFFFFF !default;
$primary-color: #00FF00 !default;
$border-color: mix(#fff, $background-color, 20%) !default;
$code-background-color: mix(#000, $background-color, 15%) !default;
$code-background-color-dark: mix(#000, $background-color, 20%) !default;
$form-background-color: mix(#000, $background-color, 15%) !default;
$footer-background-color: mix($primary-color, #000, 10%) !default;
$link-color: $primary-color !default;
$link-color-hover: mix(#fff, $link-color, 25%) !default;
$link-color-visited: mix(#000, $link-color, 25%) !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: mix(#000, $text-color, 20%) !default;
$navicon-link-color-hover: mix(#000, $background-color, 30%) !default;
$header-background-color: mix($primary-color, #000, 10%) !default;


/* header - masthead */
.masthead {background: $header-background-color;}
.greedy-nav {background: $header-background-color;}

.author__avatar img {
    width: 200px;
    height: 200px;
}




.author__urls.social-icons .svg-inline--fa,
.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/* next/previous buttons */
.pagination--pager {
  color: $text-color;
  background-color: $primary-color;
  border-color: transparent;

  &:visited {
    color: $text-color;
  }
}

.ais-search-box .ais-search-box--input {
  background-color: $form-background-color;
}